:root {
    --ba_primaryColor: #D9083C;
    --ba_secondaryColor: #2A2A2A;
}

a:hover {
    color: inherit;
}

.ba_announcementBar {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--ba_primaryColor);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ba_announcementBar > p {
    margin: 0;
}

.ba_logo {
    width: 60px;
}

.ba_bg-Secondary {
    background-color: var(--ba_secondaryColor);
}

.ba_bg-Secondary:hover {
    background-color: var(--ba_secondaryColor);
}

.ba_SecondaryBtn {
    padding: 12px 50px;
    border-radius: 24px;
    border: 1px solid var(--ba_primaryColor);
    gap: 10px;
    color: var(--ba_primaryColor);
    text-decoration: none;
}

.ba_PrimaryBtn {
    padding: 15px 50px;
    border-radius: 24px;
    background-color: var(--ba_primaryColor);
    gap: 10px;
    color: #f9f9f9;
    text-decoration: none;
}

.ba_hero_textCont > h1, .ba_hero_textCont > p {
    color: var(--ba_secondaryColor);
    font-family: 'Montserrat', sans-serif;
}

.ba_hero_textCont > h1 {
    font-weight: 800;
    font-size: 64px;
}

.ba-mx-auto {
    display: flex;
    justify-content: center;
}